<!doctype HTML>

<html>
	<head>
		<title>Guardian book reviews</title>

		<link href='http://fonts.googleapis.com/css?family=News+Cycle|Lato|Marcellus' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/static/css/typeplate-unminified.css"/>
		<link rel="stylesheet" href="/static/css/base.css"/>

	</head>
	<body>
		<article class="content">
			<header><h1 class="page-heading beta">Guardian book reviews</h1></header>
			<ul class="reviews">
				{{#reviews}}
				<li class="review">
					<header><h1 class="review-heading gamma">{{{strippedTitle}}}</h1></header>
					{{#author}}<p class="review-book-author">{{author}} <a class="review-author-search-link" href="http://google.com/search?q={{author}}">search</a></p>{{/author}}
					<div class="review-standfirst">{{#fields}}{{{standfirst}}}{{/fields}}<br><span class="review-link">Link: <a href="{{webUrl}}">{{webTitle}}</a></span></div>
				</li>
				{{/reviews}}
			</ul>
		</article>
	</body>
</html>