<!doctype HTML>

<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=News+Cycle|Lato|Marcellus' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/static/css/typeplate-unminified.css"/>
		<link rel="stylesheet" href="/static/css/base.css"/>

	</head>
	<body>
		<article class="content">
			<header><h1 class="page-heading beta">Guardian book reviews</h1></header>
			<ul class="reviews">
				{{#reviews}}
				<li class="review">
					<header><h1 class="review-heading gamma">{{webTitle}}</h1></header>
					<div class="review-standfirst">{{#fields}}{{standfirst}}{{/fields}}<br><span class="review-link">Link: <a href="{{webUrl}}">{{webTitle}}</a></span></div>
				</li>
				{{/reviews}}
			</ul>
		</article>
	</body>
</html>